/* Breadcrumbs */
.breadcrumbs {}
.breadcrumbs__item {
  display: inline-block;
  margin-right: .5em;

  &:last-child {

    .breadcrumbs__corner {
      display: none;
    }

    a.breadcrumbs__link {
      color: $text-color;

      &:hover,
      &:focus {
        color: $main-color;
      }
    }
  }
}
.breadcrumbs__corner {
  font-size: .5em;
  margin-left: 1em;
  opacity: .5;
}
a.breadcrumbs__link {
  @include transition;
  color: $main-color;

  &:hover,
  &:focus {
    outline: none;
    color: $main-color;
    text-decoration: underline;
  }
}