/* Image & Video links */
.image-link,
.iframe-video {
  display: block;
  position: relative;
  overflow: hidden;
  color: #fff;

  &::before {
    @include transition;
    @include absolute-block(100%,100%);
    left: 0;
    top: 0;
    z-index: 1;
  }

  &:hover,
  &:focus {
    outline: none;

    &::before {
      background-color: rgba(#1c1c1b, .3);
    }
  }

  img {
    @include transition;
    display: block;
    width: 100%;
  }
}
.image-link__title,
.iframe-video__title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 4.5rem 6rem;
  font: $title-font;
  font-size: 5rem;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(#000, .0) 0%, rgba(#000, .6) 100%);

  @include media("<desktop") {
    padding: 2.5rem 3rem;
  }
}

.iframe-video__play,
.image-link__play {
  @include transition;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 5rem;
  color: #fff;
  z-index: 2;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
}

.image-link--video,
.iframe-video {
  width: 100%;

  &::before {
    display: none;
  }

  &:hover {
    .iframe-video__play,
    .image-link__play {
      transform: translate(-50%,-50%) translateY(-5px);
    }
  }
}
.iframe-video {
  cursor: pointer;

  iframe {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    pointer-events: none;
  }

  &.active {
    .iframe-video__play,
    .iframe-video__title {
      display: none;
    }

    img {
      visibility: hidden;
      pointer-events: none;
    }

    iframe {
      visibility: visible;
      pointer-events: auto;
    }
  }
}