/* Popup */
.popup {
  padding: 3rem;
  width: 100%;
  background: #fff;
  min-width: $min-width - 12px;
  max-width: 900px;
  margin: 1.5rem auto;
  position: relative;
  box-shadow: 0 2px 4px -1px rgba(#000, .14), 0 4px 5px 0 rgba(#000, .098), 0 1px 10px 0 rgba(#000, .084);

  .mfp-close {
    width: auto;
    height: auto;
    line-height: .6;
    padding: 3rem;
  }

  @include media("<tablet") {
    padding: 3rem 1.5rem;

    .mfp-close {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }
}
.popup--form {
  max-width: 500px;
}
.popup__header {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 8rem;

  @include media("<tablet") {
    padding-right: 5rem;
  }
}
.popup__title {
  font: $title-font;
  font-size: 2rem;
  text-transform: uppercase;
}
.popup__footer {
  margin-top: 3rem;
}
.popup__footer--right {
  text-align: right;
}